

.Footer-wrapper{
    display: flex;
    flex-direction: column;
}

.footer-buy__cards{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.Footer{
    background: #F0F0F0;
}